//theme text color
$theme-text-primary: #fd6222;
$theme-text-secondary: #333333;
$theme-text-tertiary: #571b1b;
//theme background color
$theme-bg-primary: #f3f4f9;
$theme-bg-secondary:#3a3839 ;
// theme base font
$theme-font-size: 62.5%;
$theme-font-family: "Caladea", serif;
$heading-font-family: "Caladea", serif;
// theme section
$section-padding: 10rem 0;
$section-background: #ffffff;
// selection color
$selection-background: #d6b161;
$selection-color: #ffffff;
