#scrollUp {
	background: $theme-text-primary;
	display: visible;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
	&:hover {
		background: #444;
	}
}
